<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Vote', new_vote_path(ballot_id: @ballot.id) %>
</p>

<p>
  <b>Name:</b>
  <%= @ballot.name %>
</p>

<p>
  <b>Candidates:</b>
  <ul>
    <% @ballot.candidates.each do |c| %>
      <li><%= c.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Winner:</b>
  <% winner = IrvElection.new(@ballot).winner %>
  <%= winner.name if winner %>
</p>


<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
