<%= form_for([User.find(params[:user_id]), @authorization]) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: params[:user_id] %>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.select :role_id, Role.options_for_select(User.find(params[:user_id])) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
