<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ballot %><br />
    <%= f.select :ballot_id, ballot_options_for_select %>
  </div>
  <div>
    <%= f.fields_for :candidate_ranks do |cr| %>
      <div class="field">
        <%= cr.object.candidate.name %>
        <%= cr.hidden_field :candidate_id, value: cr.object.candidate_id %>
        <%= cr.select :rank, options_for_select([nil] + (1..(@vote.ballot.candidates.count)).to_a, nil) %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
