<!DOCTYPE html>
<html>
  <head>
    <title>Irv</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <% if current_user %>
        <ul>
          <li><%= link_to 'Ballots', ballots_path %></li>
          <li><%= link_to 'Candidates', candidates_path %></li>
          <li><%= link_to 'Votes', votes_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>

        <div class="session_status">
          <%= current_user.email %>
          <%= link_to 'Logout', session_path, method: :delete %>
        </div>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
